@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}
section{
  padding: 94px 0;
}
.container{
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}
header{
  height: 80px; 
}
header .container{
  display: flex;    
  align-items: center;  
  justify-content: space-between;
  height: 100%; 
}
.top-line .container nav{
  display: flex;
  align-items: center;
  gap: 100px;
}
.top-line .container nav ul{
  display: flex;
  list-style: none;
  gap: 80px;
}
.container .contacts-menu{
  display: flex; 
  align-items: center;
  justify-content: center;
  gap: 30px;
}
header .container .contacts-menu li{
  display: flex;   
  gap: 10px;
  align-items: center;
  justify-content: space-between;  
}
header .container .contacts-menu li a{
  color: #09180b;
}
header .container .contacts-menu li .email{
  fill: #09180b;
  width: 16px;
  height: 12px;
}
header .container .contacts-menu li .smartphone{
  fill: #09180b;
  width: 10px;
  height: 16px;
}
header .container .contacts-menu li a:hover .icon-contact{
  color: #2193f3;
  fill: #2193f3;
}
.logo a {
  font-family: "raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.menu-nav li a:hover,
header .container .contacts-menu li a:hover{
  color: #2196f3;
}
.menu-nav li a{
  color: #09180b;
}
.logo a:hover,
.logo a:focus {
  color: #09180b;
}
a {
  text-decoration: none;
}
.content-title{  
  background: #2f303a;
  background-image: url("images/Imagen-titulo.jpg");
  background-size: cover;
  text-align: center;   
}
.title {
  width: 700px;
  font-family: "Roboto", sans-serif;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  margin: 0px auto;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.button {
  height: 50px;
  background: #2193f3;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  border: none;
  padding: 0 10px;
}
.button:hover{
  background: #e5e5e5;
  color: #2196f3;
  cursor: pointer;
}
.button:focus{
  background: #e5e5e5;
  color: #2196f3;
}
.skills ul li{   
  list-style: none;  
  width: 270px;
}
.skills ul{
  display: flex;  
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.skills .container ul li div{
  background: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 270px;
}
.skills .container ul li div .skills-icon{  
  width: 70px;
  height: 70px;
}
.our-work .container h2{
  text-align: center;  
  height: 50px;
}
.our-work{
  display: flex;  
  align-items: center;
  justify-content: center;  
}
.our-work .container .container-img{
  position: relative;
}
.our-work ul{
  display: flex;  
  flex-wrap: wrap;
  /* align-items: flex-start;  */
  gap: 20px;  
}
.our-work ul li{
  list-style: none;
}

.our-work .container .container-img .our-work-texto{
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;  
  width: 100%;
  height: 70px;
  color: #FFFFFF;
  text-align: center;
}
.team{
  background: #F5F4FA;  
}
.team h2{
  text-align: center;
  padding-bottom: 20px;
}
.team ul{
  display: flex;  
  flex-wrap: wrap;  
  align-items: flex-start;  
  gap: 20px;  
}
.team ul .team-list{
  list-style: none;
  border-radius: 10px;
  background: white; 
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.3);
}
.team ul li p{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.team ul li .social-media-team{  
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;  
  /* width: 100%; */
  gap: 5px;  
}
.team ul li .social-media-team li{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.team ul li .social-media-team .team-icon{  
  width: 20px;
  height: 20px; 
  fill: #AFB1B8;   
}
.team ul li .social-media-team li:hover .team-icon{
  fill:#2193f3;  
}
.client{
  display: flex;
  align-items: center;
}
.client h2{
  text-align: center;
  padding-bottom: 5px;
}
.client ul{
  display: flex;
  gap: 20px;    
}
.client ul li{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  width: 170px;
  height: 80px;
  /* width: 30px; */
  border-radius: 1px;
  border: 1px solid #AFB1B8;
}
.client .container ul li .client-icon{
  width: 41px;
  height: 42px;  
  fill: #AFB1B8;
}
.client .container ul li:hover{
  border: 1px solid #2193f3;
  cursor: pointer;
}
.client .container ul li:hover .client-icon{
  fill: #2193f3; 
}
.footer .container{
  display:flex;
  gap: 10px;
  align-items: flex-start; 
  justify-content: space-evenly;
}

.footer .container .social-media{
  display: flex;
  gap: 5px;  
}
.footer { 
  padding: 94px 20px;
  background: #2f303a; 
  height: 250px;  
}
.footer ul li{
  list-style: none;
}
footer .container .direction{
  font-size: 14px;
  font-weight: 400;
}
footer .container .direction:hover{
  color: #ffffff;
  cursor: pointer;
}
.subscription__email{
  width: 358px;
  height: 50px;
  border-radius: 4px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #2f303a;
}
.subscription__imgbutton{
  display: flex;
  gap: 10px;
  position: relative;
}
.subscription__button{
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;   
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;  
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.subscription__icon{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 13px;
  right: 13px;
}
.subscription__tittle{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;  
  color: #FFFFFF;
  width: 100%;
}

/* VENTANA MODAL */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  opacity: 0;
  pointer-events: none;
}
.modal{
  margin: auto; 
  width: 528px;  
  height: 581px;  
  position: relative;
  background: #ffffff;    
  padding: 40px;
  border-radius: 6px;
  box-shadow: 0px, 2px rgba(0, 0, 0, 0.2) 0px, 1px rgba(0, 0, 0, 0.14) 0px, 1px rgba(0, 0, 0, 0.12);
}
.is-hidden{
  opacity: 1;
  pointer-events: unset;
}
.modal .closemodal{
  height: 30px;
  width: 30px;
  border-radius: 15px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #ffffff;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-close-icon{
  fill: black;
  height: 11px;
  width: 11px;
}
.closemodal:hover{
  cursor: pointer;
}
.closemodal:hover .modal-close-icon{
  fill: #2196F3;  
}
.modal__title{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.modal-label{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}
.modal__labelcheckbox{
  font-size: 14px;
  letter-spacing: 0.03em;
}
.modal-icon{
  width: 12px;
  height: 12px;
}
.modal-input{
  display: block;
  height: 40px;
  width: 100%;
  outline: none;
  padding-left: 40px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}
.container-input{
  position: relative; 
}
.modal-icon{
  position: absolute;
  top: 14px;
  left: 15px;
  fill: black;
}
.email-icon{
  width: 16px;
}
.modal-input:hover, .modal-input:focus{
  border:1px solid #2196F3; 
  cursor: pointer;   
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon{
  fill: #2196F3;;
}
.modal-icon:hover {
  fill: #2196F3;
  cursor: pointer;
}
.modal-textarea{
  height: 138px;
  padding: 12px;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox{
  display: none;
}

.modal__checkbox + .modal__labelcheckbox:before{
  content: "";
	width: 16px;
	height: 15px;  
  float: left;
  margin-top: 2.5px;
  /* margin-left: 0px; */
	border-radius: 4px;
	border: 3px solid black;
	background: #fff;

}
.modal__labelcheckbox{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  padding-left: 5px;
  letter-spacing: 0.03em;

  color: #757575;
}
.modal__checkbox:checked + .modal__labelcheckbox:before{
  background: #2196F3;
  border-color: #2196F3;
}
.modal__checkbox:checked + .modal__labelcheckbox:after {
  content: "";
  width: 10px;
  height: 4px;
  border: 4px solid #ffffff;
  float: left;
  margin-left: 4px;
  border-right: 0;
  border-top: 0;
  margin-top: -17px;
  transform: rotate(-55deg);
}
.modal__checkbox:hover + .modal__labelcheckbox{
  cursor: pointer;
}
.modal__containerbutton{
  display: flex;
  justify-content: center;
}
.modal__button{
  width: 200px;
  height: 50px;
  background: #2196F3;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
  border: none;    
  outline: none;
}
.modal__button:hover{
  cursor: pointer;
}


/* CSS DE LA PÁGINA PORTAFOLIO */
.menu-second ul{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;  
}
.menu-second ul li {  
  
  background-color: #f5f4fa;
  list-style: none;
  border-radius: 4px;  
}
.menu-second ul li .buttons{  
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 5px;

  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  font-family: "roboto" sans-serif;

}

.menu-second ul li .buttons:hover {
  background-color: #2196f3;
  color:#FFFFFF;
  cursor: pointer;  
}
.portafolio{
  max-width: 1200px;
  margin: 0 auto; 
}
.portafolio .galery{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}
.portafolio .galery  li h4{  
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  font-family: "roboto" sans-serif;
}
.portafolio .galery  li p{
  padding: 10px;
}
.portafolio .galery li{
  list-style: none;
  border-radius: 5px;    
}
.card{
  width: 370px;
}
.card-animation{
  position: absolute;
  top: 0;
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transform: translateY(105%);
  transition: transform 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}
.card-image{
  position: relative;
  overflow: hidden;
}
.card:hover .card-animation{
  transform: translateY(0%);  
}

.card:hover{
  box-shadow: 5px 7px 5px -5px rgba(0, 0, 0, 0.3);
}
.card-body{
  padding: 20px 24px;
}
